.DS_store
.config.json
.dist
.jshintignore
.npm
.project
.sessions.json
.settings
.tern-project
*.backup
*_cred*
coverage
credentials.json
flows*.json
nodes/node-red-nodes/
node_modules
public
locales/zz-ZZ
nodes/core/locales/zz-ZZ
!test/**/node_modules
docs
private.properties
*private.properties
*/private.properties
**/private.properties
installation.properties
*installation.properties
*/installation.properties
**/installation.properties
*refreshgithub*
refreshgithub.sh
*/refreshgithub.*
/refreshgithub.sh
